<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/stylesheet.css">
  <meta charset="UTF-8">
  <title>Userinfo</title>
</head>
<body>
<section class="container">
  <h1 th:text="${user.name}"></h1>
  <div class="container-row">
    <div class="container">
      <h2><a class="a-text" th:href="@{/user/{id}/income/new(id=${user.id})}">Надходження</a></h2>
      <div class="card" th:each="income:${incomes}">
        <h3>Категорія: <span th:text="${income.category}"></span></h3>
        <h3>Cума: <span class="card-text" th:text="${income.amount}"></span></h3>
        <h3>Опис: </h3>
        <p th:text="${income.description}"></p>
        <p th:text="${income.date}"></p>
        <a th:href="@{'/income/'+${income.id}}">
          <button class="button">Змінити</button>
        </a>
      </div>
    </div>
    <div class="container">
      <h2><a class="a-text" th:href="@{/user/{id}/expense/new(id=${user.id})}">Витрати</a></h2>
      <div class="card" th:each="expense:${expenses}">
        <h3>Категорія: <span th:text="${expense.category}"></span></h3>
        <h3>Cума: <span class="card-text" th:text="${expense.amount}"></span></h3>
        <h3>Опис: </h3>
        <p th:text="${expense.description}"></p>
        <p th:text="${expense.date}"></p>
        <a th:href="@{'/expense/'+${expense.id}}">
          <button class="button">Змінити</button>
        </a>
      </div>
    </div>
  </div>
</section>
</body>
</html>